

<div class="row -mt-6">
  <div class="col-2 bg-dark">
    <li class="nav-item active">
      <%= link_to new_course_path, class: "m-links nav-link " do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>Créer Léçons
      <% end %>
    </li>
    <li class="nav-item active">
      <%= link_to new_material_path, class: "m-links nav-link " do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>Matiere
      <% end %>
    </li>
    <li class="nav-item active">
      <%= link_to new_level_path, class: "m-links nav-link " do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>Promotion
      <% end %>
    </li>
  </div>
</div>
