<div class="card h-16">
    <div class="flex items-center m-4">
      <!-- avatar 32X32/!-->
      <img src="https://bulma.io/images/placeholders/32x32.png" class=" flex w-6 h-6 rounded-full mr-2">
      <!--Name author course/!-->
      <span class="font-bold text-gray-900 leading-none capitalize ">
        <%= current_user.username %>
      </span>
      <form class="form-inline my-md-0">
        <input class="form-control" type="text" placeholder="Recherche une fiche prartique...">
      </form>

    </div>
</div>
