<!-- Form Exercice -->
<div class="col-12 col-md-6 ">
  <div id="exerciceForm" class="">
    <%= render "exercices/form" %>
  </div>
  <div class="my-2" id="ExerciceDisplay">
    <%= render @course.exercices %>
  </div>
</div>
