
<%= bootstrap_form_for([@course, @course.exercices.build], remote: true) do |f| %>

<div class="form-control">
  <%= f.text_field :title, placeholder:"Titre de la fiche pratique", hide_label:true %>
</div>

<div class="form-control mt-1">
  <%= f.rich_text_area :content, hide_label:true,
   class:"customized-min-height", placeholder: "Le contenu de la pratique...",
   id:"exercicesContent" %>
</div>

<div class="actions mt-2">
  <%= f.submit "Créer la fiche",
  class:"btn btn-outline-primary font-bold" %>
</div>
<% end %>
